/*---------------------------------Productos----------------------------*/
.tarjetaPC {
    position: relative;
    width: 100%;
    background: #50c9ce;
    border-radius: 20px;
    overflow: hidden; 
}
.tarjetaPC::before {
    content: '';
    position: absolute;
    top: -56%;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    transform: skewY(345deg);
    transition: 0.5s; 
}
.tarjetaPC:hover::before {
    top: -70%;
    transform: skewY(390deg); 
}
/* .tarjetaPC:hover .imgBxPc img {
    max-width: 100%; 
} */
.tarjetaPC:hover .contenidoBxPc .comprarPc {
    top: 0;
    opacity: 1; 
}
    .tarjetaPC::after {
    content: 'Pethouse';
    position: absolute;
    bottom: 20px;
    left: 1px;
    font-weight: 600;
    font-size: 3em;
    color: rgba(139, 138, 141, 0.096);
    margin-bottom: 30px; 
}
.tarjetaPC .imgBxPc {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 1; 
}
.tarjetaPC .imgBxPc img {
    height: 200px;
    transition: 0.5s; 
}
    .tarjetaPC .contenidoBxPc {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1; 
}
.tarjetaPC .contenidoBxPc a {
    text-decoration: none;
    margin-top: 10px; 
}
.tarjetaPC .contenidoBxPc h2 {
    font-size: 20px;
    color: #212529;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px; 
}
.tarjetaPC .contenidoBxPc .precioPc {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 5px; 
}
.tarjetaPC .contenidoBxPc .comprarPc {
    position: relative;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #870f94;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer; 
}
.columna-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s; 
}
.columna-4 img {
    width: 100%; 
}
.columna-4 h4 {
    color: #212529;
    font-weight: normal;
    text-align: center; 
}
.columna-4 .ranking {
    text-align: center; 
}
.columna-4 p {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    color: #212529; 
}
.columna-4:hover {
    transform: translateY(-5px); 
}
.ranking .fa {
color: #870f94; 
}

.textPD {
    text-align: center;
    margin: 10px auto 0px;
    position: relative;
    line-height: 60px;
    color: #212529; }
.textPD::after {
    content: '';
    background: #ffd70a;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
}
.columna-4 .tarjetaPC .contenidoBxPc small:hover{
    color: #870f94;
    transition: all 0.3s ease-in-out;
}
.columna-4 .tarjetaPC .contenidoBxPc .addAndRemoveButton{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
}
.columna-4 .tarjetaPC .contenidoBxPc button{
    text-decoration: none;
    outline:none;
    background-color: none;
    
}
.columna-4 .tarjetaPC .contenidoBxPc .addAndRemoveButton .removeButton{
    background-color: #ebebeb;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #dddddd;
    font-weight: 600;
    font-size: 24px;
    width: 26px;
}
.columna-4 .tarjetaPC .contenidoBxPc .addAndRemoveButton .addButton{
    background-color: #ebebeb;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #dddddd;
    font-weight: 600;
    font-size: 24px;
    width: 26px;
}
.columna-4 .tarjetaPC .contenidoBxPc p{
    margin: auto;
    font-size: 1.1rem;
}